single-product {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-top: 100px;
  background: white;
  right: -100%;
  top: 0;
  transition: all 0.3s;
  z-index: 1;

  &.opened{
    right: 0;
  }

  .single-product {
    position: fixed;
    text-align: center;
    width: 100%;
  }
}
