<div class="product-list" ng-class="{'open': main.singleProductOpenStart, 'opened': main.singleProductOpenDone}">
  <acme-navbar title="main.pageTitle" back-button="main.singleProductOpenStart" back-callback="main.backCallback"></acme-navbar>
  <single-product product="main.prodDetails"></single-product>
  <div class="container main-view-holder">
    <div class="row">
      <ul class="container-list">
        <li ng-repeat="item in main.productList" ng-click="main.showSingleProd(item)" class="clearfix">
          <!-- <div class="col-sm-6">
            <img ng-src="{{item.PictureUrl}}" src="./assets/images/loading_spinner.gif" alt="" class="img-center-xs">
          </div> -->
          <div class="col-sm-12 text-left text-center-xs">
            {{item.Title}} <br>
            <b>Price:&nbsp;</b>{{item.Price}} <br>
            <b>Buy Now Price:&nbsp;</b>{{item.BuyNowPrice}}
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
